<!-- <h1>Lady Gardens Pizzas</h1> -->

<% for pizza in @pizzas %>
<p1>Name: <%= pizza.pretty_name() %></p1> 
<p2>Order: <%= pizza.quantity %>  x <%= pizza.topping%></p2>
<p3><a href="/pizzas/<%= pizza.id %>">Show Order</a></p3>
<hr />
<% end %>